.areaimagem{
    float: left;
    margin-top: 10px;

}

.areaimagem img{
    width: 600px;
    height: 300px;
    margin: 2%;
    vertical-align: top;
    float: left;
    border-radius: 10px;
}

.areatexto p{
    display: inline-block;
    width: 50%;
    margin: 2%;
    color: whitesmoke;
    font-family: 'Lucida Sans' , sans-serif;
    font-size: 20px;
    text-align: justify;  
}